@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap");
html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.6;
  font-family: "Noto Sans JP", sans-serif;
  background: url("../img/fondo.png");
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  display: inline-block;
  color: rgb(134, 132, 132);
}

img {
  width: 80%;
  height: auto;
}

nav, .servicios, .presentacion, .footer-content {
  width: 80%;
  margin: auto;
}

.titulo-servicios, .presentacion {
  margin-bottom: 10%;
}

p {
  font-size: 1.8rem;
  color: rgb(134, 132, 132);
}

h2 {
  font-size: 2.4rem;
}

h3 {
  font-size: 2rem;
  font-weight: lighter;
}

.btn, .btn-secundario, .btn-principal {
  border: none;
  border-radius: 2px;
  padding: 0.7em 1.5em;
  cursor: pointer;
  margin-right: 10px;
  margin-bottom: 10px;
  font-size: 1.5rem;
  font-weight: 500;
  transition: transform 100ms;
}
.btn:hover, .btn-secundario:hover, .btn-principal:hover {
  transform: scale(1.1);
}

.btn-principal {
  color: #fff;
  background-color: rgb(9, 54, 108);
}

.btn-secundario {
  background-color: rgb(134, 132, 132);
}

.logo {
  height: auto;
}

header {
  position: fixed;
  top: 0;
  border-top: 30px solid rgb(52, 53, 51);
  width: 100%;
  z-index: 10;
}

nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}
nav ul {
  display: flex;
  padding: 0;
}
nav ul a:hover {
  color: rgb(9, 54, 108);
  transform: scale(1.1);
}

@media (max-width: 320px) {
  nav a {
    padding: 10px;
    font-size: 1.2rem;
    font-weight: bold;
  }
  nav .nav1 {
    margin-right: 10px;
  }
  .logo {
    width: 140px;
    margin: 5px 10px;
  }
  .presentacion {
    padding-top: 155px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
  }
  .presentacion .flex-item2 {
    text-align: center;
  }
  .presentacion h1 {
    margin-top: 0;
    font-size: 3rem;
    text-align: center;
  }
  .presentacion p {
    padding-bottom: 10px;
    text-align: center;
  }
  .flex-item1 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  section #carouselExampleIndicators {
    padding: 0px 20px;
  }
  footer {
    width: 100%;
    margin-top: 5vh;
    margin-bottom: 3vh;
    height: 6vh;
  }
  footer p {
    font-size: 1.5rem !important;
    text-align: center;
  }
  .segundo-item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
  }
  .primer-item {
    margin-top: 55%;
  }
  .primer-item .primer-item-uno {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .primer-item .primer-item-uno h5 {
    font-size: 1.5em;
    font-weight: bold;
  }
  .primer-item .primer-item-uno h1 {
    font-size: 3em;
    font-weight: bold;
    color: rgb(9, 54, 108);
  }
  .primer-item .primer-item-dos {
    margin-top: 5vh;
    padding: 0px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .primer-item .primer-item-dos p {
    font-size: 1.3rem;
    text-align: center;
  }
  .emp-segundo-item {
    width: 100%;
    height: 140vh;
    background: linear-gradient(135deg, #232323 0%, #191919 100%);
    opacity: 1;
    margin-top: 2vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }
  .emp-segundo-item .segundo-item-uno {
    width: 85%;
    height: 40vh;
    background-image: url("../img/empresa-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    z-index: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .emp-segundo-item .segundo-item-uno div {
    padding: 10px 30px;
  }
  .emp-segundo-item .segundo-item-uno div h3 {
    font-size: 1.5rem;
    color: white;
    margin-top: 3vh;
    margin-bottom: 1vh;
    font-weight: bold;
    text-decoration: underline;
  }
  .emp-segundo-item .segundo-item-uno div p {
    font-size: 1rem;
    color: white;
  }
  .emp-segundo-item .segundo-item-dos {
    width: 85%;
    height: 40vh;
    background-image: url("../img/empresa-2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    z-index: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .emp-segundo-item .segundo-item-dos div {
    padding: 10px 30px;
  }
  .emp-segundo-item .segundo-item-dos div h3 {
    font-size: 1.5rem;
    color: white;
    margin-top: 3vh;
    margin-bottom: 1vh;
    font-weight: bold;
    text-decoration: underline;
  }
  .emp-segundo-item .segundo-item-dos div p {
    font-size: 1rem;
    color: white;
  }
  .emp-segundo-item .segundo-item-tres {
    width: 85%;
    height: 40vh;
    background-image: url("../img/empresa-3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    z-index: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .emp-segundo-item .segundo-item-tres div {
    padding: 10px 30px;
  }
  .emp-segundo-item .segundo-item-tres div h3 {
    font-size: 1.5rem;
    color: white;
    margin-top: 3vh;
    margin-bottom: 1vh;
    font-weight: bold;
    text-decoration: underline;
  }
  .emp-segundo-item .segundo-item-tres div p {
    font-size: 1rem;
    color: white;
  }
  .emp-segundo-item div {
    width: 90%;
    height: 35vh;
    background-color: rgba(128, 128, 128, 0.3); /* Color gris con 50% de transparencia */
  }
}
@media (min-width: 321px) and (max-width: 375px) {
  nav a {
    padding: 10px;
    font-size: 1.3rem;
    font-weight: bold;
  }
  nav .nav1 {
    margin-right: 10px;
  }
  .logo {
    width: 140px;
    margin: 5px 15px;
  }
  .presentacion {
    padding-top: 155px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
  }
  .presentacion .flex-item2 {
    text-align: center;
  }
  .presentacion h1 {
    margin-top: 0;
    font-size: 3rem;
    text-align: center;
  }
  .presentacion p {
    padding-bottom: 10px;
    text-align: center;
  }
  .flex-item1 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  section #carouselExampleIndicators {
    padding: 0px 20px;
  }
  footer {
    width: 100%;
    margin-top: 5vh;
    margin-bottom: 3vh;
    height: 6vh;
  }
  footer p {
    font-size: 1.5rem !important;
    text-align: center;
  }
  .segundo-item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
  }
  .primer-item {
    margin-top: 55%;
  }
  .primer-item .primer-item-uno {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .primer-item .primer-item-uno h5 {
    font-size: 1.5em;
    font-weight: bold;
  }
  .primer-item .primer-item-uno h1 {
    font-size: 3em;
    font-weight: bold;
    color: rgb(9, 54, 108);
  }
  .primer-item .primer-item-dos {
    margin-top: 5vh;
    padding: 0px 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .primer-item .primer-item-dos p {
    font-size: 1.3rem;
    text-align: center;
  }
  .emp-segundo-item {
    width: 100%;
    height: 140vh;
    background: linear-gradient(135deg, #232323 0%, #191919 100%);
    opacity: 1;
    margin-top: 2vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }
  .emp-segundo-item .segundo-item-uno {
    width: 85%;
    height: 40vh;
    background-image: url("../img/empresa-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    z-index: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .emp-segundo-item .segundo-item-uno div {
    padding: 10px 30px;
  }
  .emp-segundo-item .segundo-item-uno div h3 {
    font-size: 1.7rem;
    color: white;
    margin-top: 3vh;
    margin-bottom: 1vh;
    font-weight: bold;
    text-decoration: underline;
  }
  .emp-segundo-item .segundo-item-uno div p {
    font-size: 1.2rem;
    color: white;
  }
  .emp-segundo-item .segundo-item-dos {
    width: 85%;
    height: 40vh;
    background-image: url("../img/empresa-2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    z-index: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .emp-segundo-item .segundo-item-dos div {
    padding: 10px 30px;
  }
  .emp-segundo-item .segundo-item-dos div h3 {
    font-size: 1.7rem;
    color: white;
    margin-top: 3vh;
    margin-bottom: 1vh;
    font-weight: bold;
    text-decoration: underline;
  }
  .emp-segundo-item .segundo-item-dos div p {
    font-size: 1.2rem;
    color: white;
  }
  .emp-segundo-item .segundo-item-tres {
    width: 85%;
    height: 40vh;
    background-image: url("../img/empresa-3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    z-index: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .emp-segundo-item .segundo-item-tres div {
    padding: 10px 30px;
  }
  .emp-segundo-item .segundo-item-tres div h3 {
    font-size: 1.7rem;
    color: white;
    margin-top: 3vh;
    margin-bottom: 1vh;
    font-weight: bold;
    text-decoration: underline;
  }
  .emp-segundo-item .segundo-item-tres div p {
    font-size: 1.2rem;
    color: white;
  }
  .emp-segundo-item div {
    width: 90%;
    height: 35vh;
    background-color: rgba(128, 128, 128, 0.3); /* Color gris con 50% de transparencia */
  }
}
@media (min-width: 376px) and (max-width: 425px) {
  nav a {
    padding: 10px;
    font-size: 1.4rem;
    font-weight: bold;
  }
  nav .nav1 {
    margin-right: 10px;
  }
  .logo {
    width: 145px;
    margin: 5px 20px;
  }
  .presentacion {
    padding-top: 155px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
  }
  .presentacion .flex-item2 {
    text-align: center;
  }
  .presentacion h1 {
    margin-top: 0;
    font-size: 3rem;
    text-align: center;
  }
  .presentacion p {
    padding-bottom: 10px;
    text-align: center;
  }
  .flex-item1 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  section #carouselExampleIndicators {
    padding: 0px 20px;
  }
  footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 6vh;
  }
  footer p {
    font-size: 1.5rem !important;
    text-align: center;
  }
  .segundo-item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
  }
  .primer-item {
    margin-top: 40%;
  }
  .primer-item .primer-item-uno {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .primer-item .primer-item-uno h5 {
    font-size: 1.5em;
    font-weight: bold;
  }
  .primer-item .primer-item-uno h1 {
    font-size: 3em;
    font-weight: bold;
    color: rgb(9, 54, 108);
  }
  .primer-item .primer-item-dos {
    margin-top: 5vh;
    padding: 0px 45px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .primer-item .primer-item-dos p {
    font-size: 1.3rem;
    text-align: center;
  }
  .emp-segundo-item {
    width: 100%;
    height: 140vh;
    background: linear-gradient(135deg, #232323 0%, #191919 100%);
    opacity: 1;
    margin-top: 2vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }
  .emp-segundo-item .segundo-item-uno {
    width: 85%;
    height: 40vh;
    background-image: url("../img/empresa-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    z-index: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .emp-segundo-item .segundo-item-uno div {
    padding: 10px 30px;
  }
  .emp-segundo-item .segundo-item-uno div h3 {
    font-size: 1.9rem;
    color: white;
    margin-top: 3vh;
    margin-bottom: 1vh;
    font-weight: bold;
    text-decoration: underline;
  }
  .emp-segundo-item .segundo-item-uno div p {
    font-size: 1.4rem;
    color: white;
  }
  .emp-segundo-item .segundo-item-dos {
    width: 85%;
    height: 40vh;
    background-image: url("../img/empresa-2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    z-index: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .emp-segundo-item .segundo-item-dos div {
    padding: 10px 30px;
  }
  .emp-segundo-item .segundo-item-dos div h3 {
    font-size: 1.9rem;
    color: white;
    margin-top: 3vh;
    margin-bottom: 1vh;
    font-weight: bold;
    text-decoration: underline;
  }
  .emp-segundo-item .segundo-item-dos div p {
    font-size: 1.4rem;
    color: white;
  }
  .emp-segundo-item .segundo-item-tres {
    width: 85%;
    height: 40vh;
    background-image: url("../img/empresa-3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    z-index: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .emp-segundo-item .segundo-item-tres div {
    padding: 10px 30px;
  }
  .emp-segundo-item .segundo-item-tres div h3 {
    font-size: 1.9rem;
    color: white;
    margin-top: 3vh;
    margin-bottom: 1vh;
    font-weight: bold;
    text-decoration: underline;
  }
  .emp-segundo-item .segundo-item-tres div p {
    font-size: 1.4rem;
    color: white;
  }
  .emp-segundo-item div {
    width: 90%;
    height: 35vh;
    background-color: rgba(128, 128, 128, 0.3); /* Color gris con 50% de transparencia */
  }
}
@media (min-width: 426px) and (max-width: 768px) {
  nav a {
    padding: 10px;
    font-size: 1.7rem;
    font-weight: bold;
  }
  nav .nav1 {
    margin-right: 10px;
  }
  .logo {
    width: 150px;
    margin: 5px 25px;
  }
  .presentacion {
    padding-top: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
  }
  .presentacion .flex-item2 {
    text-align: center;
  }
  .presentacion h1 {
    margin-top: 0;
    font-size: 3rem;
    text-align: center;
  }
  .presentacion p {
    padding-bottom: 10px;
    text-align: center;
  }
  .flex-item1 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  section #carouselExampleIndicators {
    padding: 0px 30px;
  }
  footer {
    bottom: 0;
    width: 100%;
    margin-top: 3vh;
    height: 6vh;
  }
  footer p {
    font-size: 1.5rem !important;
    text-align: center;
  }
  .segundo-item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
  }
  .primer-item {
    margin-top: 25%;
    margin-bottom: 10%;
  }
  .primer-item .primer-item-uno {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .primer-item .primer-item-uno h5 {
    font-size: 1.5em;
    font-weight: bold;
  }
  .primer-item .primer-item-uno h1 {
    font-size: 3em;
    font-weight: bold;
    color: rgb(9, 54, 108);
  }
  .primer-item .primer-item-dos {
    margin-top: 5vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .primer-item .primer-item-dos p {
    font-size: 1.3rem;
    text-align: center;
    padding: 0px 30px;
  }
  .emp-segundo-item {
    width: 100%;
    height: 140vh;
    background: linear-gradient(135deg, #232323 0%, #191919 100%);
    opacity: 1;
    margin-top: 2vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }
  .emp-segundo-item .segundo-item-uno {
    width: 85%;
    height: 40vh;
    background-image: url("../img/empresa-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    z-index: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .emp-segundo-item .segundo-item-uno div {
    padding: 10px 30px;
  }
  .emp-segundo-item .segundo-item-uno div h3 {
    font-size: 2.2rem;
    color: white;
    margin-top: 3vh;
    margin-bottom: 1vh;
    font-weight: bold;
    text-decoration: underline;
  }
  .emp-segundo-item .segundo-item-uno div p {
    font-size: 1.6rem;
    color: white;
  }
  .emp-segundo-item .segundo-item-dos {
    width: 85%;
    height: 40vh;
    background-image: url("../img/empresa-2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    z-index: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .emp-segundo-item .segundo-item-dos div {
    padding: 10px 30px;
  }
  .emp-segundo-item .segundo-item-dos div h3 {
    font-size: 2.2rem;
    color: white;
    margin-top: 3vh;
    margin-bottom: 1vh;
    font-weight: bold;
    text-decoration: underline;
  }
  .emp-segundo-item .segundo-item-dos div p {
    font-size: 1.6rem;
    color: white;
  }
  .emp-segundo-item .segundo-item-tres {
    width: 85%;
    height: 40vh;
    background-image: url("../img/empresa-3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    z-index: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .emp-segundo-item .segundo-item-tres div {
    padding: 10px 30px;
  }
  .emp-segundo-item .segundo-item-tres div h3 {
    font-size: 2.2rem;
    color: white;
    margin-top: 3vh;
    margin-bottom: 1vh;
    font-weight: bold;
    text-decoration: underline;
  }
  .emp-segundo-item .segundo-item-tres div p {
    font-size: 1.6rem;
    color: white;
  }
  .emp-segundo-item div {
    width: 90%;
    height: 35vh;
    background-color: rgba(128, 128, 128, 0.2); /* Color gris con 50% de transparencia */
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  nav a {
    padding: 10px;
    font-size: 1.6rem;
    font-weight: bold;
  }
  .logo {
    width: 150px;
    margin: 5px 25px;
  }
  .presentacion {
    padding-top: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
  }
  .presentacion .flex-item2 {
    text-align: center;
  }
  .presentacion h1 {
    margin-top: 0;
    font-size: 3rem;
    text-align: center;
  }
  .presentacion p {
    padding-bottom: 10px;
    text-align: center;
  }
  .flex-item1 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  section #carouselExampleIndicators {
    padding: 0px 30px;
  }
  footer {
    bottom: 0;
    width: 100%;
    margin-top: 3vh;
    height: 6vh;
  }
  footer p {
    font-size: 1.5rem !important;
    text-align: center;
  }
  .segundo-item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
  }
  .primer-item {
    margin-top: 18%;
    margin-bottom: 10%;
  }
  .primer-item .primer-item-uno {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .primer-item .primer-item-uno h5 {
    font-size: 1.5em;
    font-weight: bold;
  }
  .primer-item .primer-item-uno h1 {
    font-size: 3em;
    font-weight: bold;
    color: rgb(9, 54, 108);
  }
  .primer-item .primer-item-dos {
    margin-top: 5vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .primer-item .primer-item-dos p {
    font-size: 1.3rem;
    text-align: center;
    padding: 0px 30px;
  }
  .emp-segundo-item {
    width: 100%;
    height: 50vh;
    background: linear-gradient(135deg, #232323 0%, #191919 100%);
    opacity: 1;
    margin-top: 2vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }
  .emp-segundo-item .segundo-item-uno {
    width: 30%;
    height: 40vh;
    background-image: url("../img/empresa-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    z-index: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .emp-segundo-item .segundo-item-uno div {
    padding: 10px 30px;
  }
  .emp-segundo-item .segundo-item-uno div h3 {
    font-size: 1.5rem;
    color: white;
    margin-top: 3vh;
    margin-bottom: 1vh;
    font-weight: bold;
    text-decoration: underline;
  }
  .emp-segundo-item .segundo-item-uno div p {
    font-size: 1rem;
    color: white;
  }
  .emp-segundo-item .segundo-item-dos {
    width: 30%;
    height: 40vh;
    background-image: url("../img/empresa-2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    z-index: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .emp-segundo-item .segundo-item-dos div {
    padding: 10px 30px;
  }
  .emp-segundo-item .segundo-item-dos div h3 {
    font-size: 1.5rem;
    color: white;
    margin-top: 3vh;
    margin-bottom: 1vh;
    font-weight: bold;
    text-decoration: underline;
  }
  .emp-segundo-item .segundo-item-dos div p {
    font-size: 1rem;
    color: white;
  }
  .emp-segundo-item .segundo-item-tres {
    width: 30%;
    height: 40vh;
    background-image: url("../img/empresa-3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    z-index: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .emp-segundo-item .segundo-item-tres div {
    padding: 10px 30px;
  }
  .emp-segundo-item .segundo-item-tres div h3 {
    font-size: 1.5rem;
    color: white;
    margin-top: 3vh;
    margin-bottom: 1vh;
    font-weight: bold;
    text-decoration: underline;
  }
  .emp-segundo-item .segundo-item-tres div p {
    font-size: 1rem;
    color: white;
  }
  .emp-segundo-item div {
    width: 90%;
    height: 35vh;
    background-color: rgba(128, 128, 128, 0.2); /* Color gris con 50% de transparencia */
  }
}
@media (min-width: 1025px) and (max-width: 1440px) {
  nav a {
    padding: 10px;
    font-size: 1.8rem;
    font-weight: bold;
  }
  .logo {
    width: 160px;
    margin: 5px 30px;
  }
  .presentacion {
    padding-top: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
  }
  .presentacion .flex-item2 {
    text-align: center;
  }
  .presentacion h1 {
    margin-top: 0;
    font-size: 3rem;
    text-align: center;
  }
  .presentacion p {
    padding-bottom: 10px;
    text-align: center;
  }
  .flex-item1 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  section #carouselExampleIndicators {
    padding: 0px 30px;
  }
  footer {
    bottom: 0;
    width: 100%;
    margin-top: 3vh;
    height: 6vh;
  }
  footer p {
    font-size: 1.5rem !important;
    text-align: center;
  }
  .segundo-item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
  }
  .primer-item {
    margin-top: 15%;
  }
  .primer-item .primer-item-uno {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .primer-item .primer-item-uno h5 {
    font-size: 2.4em;
    font-weight: bold;
  }
  .primer-item .primer-item-uno h1 {
    font-size: 3.9em;
    font-weight: bold;
    color: rgb(9, 54, 108);
  }
  .primer-item .primer-item-dos {
    margin-top: 5vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .primer-item .primer-item-dos p {
    font-size: 1.6rem;
    text-align: center;
    padding: 0px 60px;
  }
  .emp-segundo-item {
    width: 100%;
    height: 50vh;
    background: linear-gradient(135deg, #232323 0%, #191919 100%);
    opacity: 1;
    margin-top: 2vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }
  .emp-segundo-item .segundo-item-uno {
    width: 30%;
    height: 40vh;
    background-image: url("../img/empresa-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    z-index: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .emp-segundo-item .segundo-item-uno div {
    padding: 10px 30px;
  }
  .emp-segundo-item .segundo-item-uno div h3 {
    font-size: 2.5rem;
    color: white;
    margin-top: 3vh;
    margin-bottom: 1vh;
    font-weight: bold;
    text-decoration: underline;
  }
  .emp-segundo-item .segundo-item-uno div p {
    font-size: 1.9rem;
    color: white;
  }
  .emp-segundo-item .segundo-item-dos {
    width: 30%;
    height: 40vh;
    background-image: url("../img/empresa-2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    z-index: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .emp-segundo-item .segundo-item-dos div {
    padding: 10px 30px;
  }
  .emp-segundo-item .segundo-item-dos div h3 {
    font-size: 2.5rem;
    color: white;
    margin-top: 3vh;
    margin-bottom: 1vh;
    font-weight: bold;
    text-decoration: underline;
  }
  .emp-segundo-item .segundo-item-dos div p {
    font-size: 1.9rem;
    color: white;
  }
  .emp-segundo-item .segundo-item-tres {
    width: 30%;
    height: 40vh;
    background-image: url("../img/empresa-3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    z-index: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .emp-segundo-item .segundo-item-tres div {
    padding: 10px 30px;
  }
  .emp-segundo-item .segundo-item-tres div h3 {
    font-size: 2.5rem;
    color: white;
    margin-top: 3vh;
    margin-bottom: 1vh;
    font-weight: bold;
    text-decoration: underline;
  }
  .emp-segundo-item .segundo-item-tres div p {
    font-size: 1.9rem;
    color: white;
  }
  .emp-segundo-item div {
    width: 90%;
    height: 35vh;
    background-color: rgba(128, 128, 128, 0.2); /* Color gris con 50% de transparencia */
  }
}
@media (min-width: 1441px) {
  nav a {
    padding: 10px;
    font-size: 2rem;
    font-weight: bold;
  }
  .navbarcito {
    padding: 0px 15px;
  }
  .logo {
    width: 200px;
    margin: 5px 65px;
  }
  .presentacion {
    padding-top: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
  }
  .presentacion .flex-item2 {
    text-align: center;
  }
  .presentacion h1 {
    margin-top: 0;
    font-size: 3rem;
    text-align: center;
  }
  .presentacion p {
    padding-bottom: 10px;
    text-align: center;
  }
  .flex-item1 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  section #carouselExampleIndicators {
    padding: 0px 30px;
  }
  footer {
    bottom: 0;
    width: 100%;
    margin-top: 3vh;
    height: 6vh;
  }
  footer p {
    font-size: 2.5rem !important;
    text-align: center;
  }
  .segundo-item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
  }
  .primer-item {
    margin-top: 10%;
    margin-bottom: 10%;
  }
  .primer-item .primer-item-uno {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .primer-item .primer-item-uno h5 {
    font-size: 3.2em;
    font-weight: bold;
  }
  .primer-item .primer-item-uno h1 {
    font-size: 4.7em;
    font-weight: bold;
    color: rgb(9, 54, 108);
  }
  .primer-item .primer-item-dos {
    margin-top: 8vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .primer-item .primer-item-dos p {
    font-size: 1.9rem;
    text-align: center;
    padding: 0px 100px;
  }
  .emp-segundo-item {
    width: 100%;
    height: 50vh;
    background: linear-gradient(135deg, #232323 0%, #191919 100%);
    opacity: 1;
    margin-top: 2vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }
  .emp-segundo-item .segundo-item-uno {
    width: 30%;
    height: 40vh;
    background-image: url("../img/empresa-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    z-index: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .emp-segundo-item .segundo-item-uno div {
    padding: 10px 30px;
  }
  .emp-segundo-item .segundo-item-uno div h3 {
    font-size: 3rem;
    color: white;
    margin-top: 3vh;
    margin-bottom: 1vh;
    font-weight: bold;
    text-decoration: underline;
  }
  .emp-segundo-item .segundo-item-uno div p {
    font-size: 1.6rem;
    color: white;
  }
  .emp-segundo-item .segundo-item-dos {
    width: 30%;
    height: 40vh;
    background-image: url("../img/empresa-2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    z-index: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .emp-segundo-item .segundo-item-dos div {
    padding: 10px 30px;
  }
  .emp-segundo-item .segundo-item-dos div h3 {
    font-size: 3rem;
    color: white;
    margin-top: 3vh;
    margin-bottom: 1vh;
    font-weight: bold;
    text-decoration: underline;
  }
  .emp-segundo-item .segundo-item-dos div p {
    font-size: 1.6rem;
    color: white;
  }
  .emp-segundo-item .segundo-item-tres {
    width: 30%;
    height: 40vh;
    background-image: url("../img/empresa-3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    z-index: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .emp-segundo-item .segundo-item-tres div {
    padding: 10px 30px;
  }
  .emp-segundo-item .segundo-item-tres div h3 {
    font-size: 3rem;
    color: white;
    margin-top: 3vh;
    margin-bottom: 1vh;
    font-weight: bold;
    text-decoration: underline;
  }
  .emp-segundo-item .segundo-item-tres div p {
    font-size: 1.6rem;
    color: white;
  }
  .emp-segundo-item div {
    width: 90%;
    height: 35vh;
    background-color: rgba(128, 128, 128, 0.2); /* Color gris con 50% de transparencia */
  }
}

/*# sourceMappingURL=main.css.map */
