@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

//Globales

html{
    font-size: 62.5%;
    box-sizing: border-box;

}

*, *::before, *::after{
    box-sizing: inherit;
}

body{
    margin: 0;
    padding: 0;
    line-height: 1.6;
    font-family: 'Noto Sans JP', sans-serif;
    background: url('../img/fondo.png');
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
    display: inline-block;
    color: rgb(134,132,132);
}
img{
    width: 80%;
    height: auto;
}

nav{
    width: 100%;
    margin: auto;
}
.footer-content{
    width: 80%;
    margin: auto;
}

// Variables
$color_primario:rgb(9, 54, 108);
$color_secundario:rgb(137, 45, 44);


// USO DE MIXINS EN SASS;

@mixin caja-flex($principal, $cruzado, $wrap){
    display: flex;
    justify-content: $principal;
    align-items: $cruzado;
    flex-wrap: $wrap;
}


