@import 'global';

.logo{
    height: auto;
}

header{
    position: fixed;
    top: 0;
    border-top: 30px solid rgb(52,53,51);
    width: 100%;

}

nav{
    @include caja-flex(space-between,center,nowrap);

    ul{
        display: flex;
        padding: 0;


        a:hover{
            color: $color_primario;
            transform: scale(1.1);
            
        }
    }
}



@import 'medios';