@import 'global';

.logo{
    height: auto;
    cursor: pointer;
    
}

header{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    
}

nav{
    width: 100%;
    background-color: transparent;
    @include caja-flex(space-between,center,nowrap);

    ul{
        display: flex;
        padding: 0;
        
    }
    a:hover{
        color: $color_primario;
        transform: scale(1.1);
        text-decoration: underline;
    }
}



@import 'medios';